.circulo {
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 1%;
    margin: 10px;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    width: 130px;
    height: 130px;
    border-radius: 500px;
}